body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f7f8;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2, h3 {
    font-family: 'Georgia', serif;
}

#setupArea, #gameArea {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#gameArea {
    display: none;
}

.player {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
}

.active-player {
    border-color: #333;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px); /* Full width minus padding and border */
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#currentPlayer {
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0;
}

#currentQuestion {
    font-size: 1.5em;
    margin: 20px 0;
}

.suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 2px); /* Full width minus borders */
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Feedback Message */
#feedbackMessage {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
    display: none;
}

#feedbackMessage.show {
    display: block;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}
